{% extends 'base.html' %}
{% block content %}

<h1>Camera List</h1>

{% for camera in cameras %}
<a href="{url 'details camera.id}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ camera.name }}</span>
      <p>Brand: {{ camera.brand }}</p>
      <p>Description: {{ camera.description }}</p>
      <!-- {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
      {% else %}
        <p>Age: Kitten</p>
      {% endif %} -->
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}